.photo{
  display:flex;
  margin-left: 0;
  flex-direction: column;
  align-items: center;
}

.welcome{
  display: flex;
  flex-direction: column;
}

section.welcome{
  display: flex;
  align-items: center;
  font-family: $text-font;
  padding-top:1rem;
  > img{
    align-self: flex-end;
    margin-top: -175px;
  }
  > #phaccueil{
    align-self: center;
    margin-top: 0;
  }
  > p{
    background-color: $title-bkg;
    color: $title-color;
    max-width: 500px;
    margin: 0;
    font-weight: bold;
    padding: 1rem;
    font-size: 16px;
  }
}


.texte{
  display: flex;
  align-items: center;
  font-family: $text-font;
  padding-top:2rem;
  flex-direction: column;
  width:66%;
  p{
    background-color: $title-bkg;
    color: $title-color;
    max-width: 500px;
    margin: 0;
    font-weight: bold;
    padding: 1rem;
    font-size: 16px;
  }
}

.picture{
  width:(100/3)*1%;
}
